*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to bottom right, chartreuse, chartreuse, black);
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
}

.container{
    width:400px;
    height:300px;
    border-radius: 10%;
    background-color: chartreuse;
    box-shadow:10px 8px 10px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

h2{
    align-items: center;
}

button{
    background-color: forestgreen;
    color:white;
    height:30px;
    border-radius: 10%;
    border:solid 1px chartreuse;
    transition: 1s;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color:forestgreen;
}
input{
    width:80px;
}
